@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --main-color: #ffffff;
    --secondary-color: #818cf8;
    --text-color: #000000;
    --icon-size: max(2rem, 30px);
    --propic-size: 4rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.logo-icon {
    color: var(--main-color);
    width: max(3rem, 50px);
    height: max(3rem, 50px);
}

.icon {
    color: var(--text-color);
    width: var(--icon-size);
    height: var(--icon-size);
}

.icon.white {
    color: var(--main-color);
    width: var(--icon-size);
    height: var(--icon-size);
}

.propic {
    width: var(--propic-size);
    height: var(--propic-size);
}

.propic.big {
    width: 6rem;
    height: 6rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 1.2rem 6rem 0 2.4rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo > h1 {
    font-size: 2.5rem;
}

.sidebar-element {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.search {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
}

.account-nav {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
}

.greeting {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.action-nav {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}