@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --main-color: #ffffff;
    --text-color: #000000;
    --icon-size: 2rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.icon {
    color: var(--text-color);
    width: var(--icon-size);
}

.icon.white {
    color: var(--main-color);
    width: var(--icon-size);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    box-sizing: border-box;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #818cf8;
    color: var(--main-color);
}

.sidebar-element {
    display: flex;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.search {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.account-nav {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.greeting {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.action-nav {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}